.blog {
  padding: 40px 0 20px 0;
  font-family: $font-base;

  .blog-title {
    text-align: center;
    font-size: 32px;
    padding: 20px 0;
  }

  #blog-img-1, #blog-img-2 {
    border: 1px solid #000000;
    padding: 25px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    max-height: 700px;

    img {
      max-height: 700px;
      background-size: cover;
      background-position: center;
      visibility: hidden;
    }
  }

  #blog-img-1 {
    background-image: url('images/_blog/blog-1.png');
    min-height: 625px;
  }

  #blog-img-2 {
    background-image: url('images/_blog/blog-2.png');
    min-height: 625px;

  }

  .inner-wrapper {
    max-height: 800px;
    background-size: cover;
    background-position: center;

    .read-more {
      text-transform: uppercase;
      padding: 8px 22px;
      border-radius: 0;
      color: #000000;
      min-width: 135px;

      .shop-now-button {
        color: white;
      }

      &:hover {
        color: #f9f9f9;
        background-color: #000000;
      }
    }

    .text-wrapper {
      padding: 40px 50px;
      text-align: center;
      background-color: rgba(255, 255, 255, 1);
      margin: 300px 0 80px 0;

      .blog-card-text {
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        color: #9B9B9B;
        line-height: 20px;
      }

      h2 {
        font-weight: 300;
      }
    }
  }

  .advice-text-wrapper {
    width: 95%;
    padding: 30px 20px 30px 50px;

    .advice-heading {
      color: #000000;
      font-size: 32px;
      font-weight: 300;
    }

    .advice-text {
      color: #9B9B9B;
      font-size: 16px;
    }

    .read-more {
      text-transform: uppercase;
      padding: 8px 22px;
      border-radius: 0;
      color: #000000;
      min-width: 135px;

      &:hover {
        color: #f9f9f9;
        background-color: #000000;
      }
    }
  }
}